@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: Mulish, sans-serif;
}
:root{
    max-width: 1000px;
    margin: 0 auto;
    --c: rgb(22, 22, 22);
    --darkthemecolor: #00050f;
    --lightthemecolor: #e2e1e1;
    --accentcolor: #e09201;
}

body{
    background-color: var(--darkthemecolor);
    color: var(--lightthemecolor);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.active{
    color: var(--accentcolor)!important;
}
/* .nav-link {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
} */
#root > div:nth-child(2){
    transition: .5s;
    animation: opac .5s;
    -webkit-animation: opac .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#root > div:nth-child(2).fade-out{
    opacity: 0;
}
@keyframes opac {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
